
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/shh.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);

}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: #FFD700;
}
.app h2{
  color: #FFFAF0;
  background-color: black;
  font-weight: 5;
  font-style:oblique ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainHeading {
  background-color:black;
;
  border-radius: 10px;

}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: #20B2AA;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: transparent;
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: gray;
  margin-right: 5px;
}

.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: #20B2AA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;


}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: black;
}